
/* Text aligned
   ========================================================================== */

.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

 /* Backgrounds
    ========================================================================== */

.u-bg-1 {

}

 /* Backgrounds sections
    ========================================================================== */

.u-bg-sec-1 {

}

/* Colors
   ========================================================================== */

.u-color-1 {

}
