
/* Colors
========================================================================== */
$color_black:       #000000;
$color_white:       #fff;

/* Sizes
========================================================================== */
$size_inner:        1100px;

/* Margins
========================================================================== */

$margin_default:    20px;
$padding_default:   20px;

/* Fonts
========================================================================== */

$font_lato:     'Lato';

$font_normal:           $font_lato, Arial, sans-serif;
